@model TechJobsPersistent.ViewModels.JobDetailViewModel

<h1>@Model.Name</h1>

<table class="table">
    <tr class="table-dark">
        <th>Employer</th>
        <th>Skills</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>@Model.EmployerName</td>
        <td>@Model.SkillText</td>
        <td>
            <button type="button" class="btn btn-danger"> <a class="text-white" asp-controller="Home" asp-action="Delete" asp-route-id="@Model.JobId">Delete</a> </button>
        </td>
    </tr>

</table>

<a asp-controller="Skill" asp-action="AddJob" asp-route-id="@Model.JobId">Add additional skills</a>
